<div class="owl-container" id="home--owl-slider">
    <div class="owl-carousel owl-theme">
        {% if collections.frontpage.products.size > 0 %}
            {% for product in collections.frontpage.products %}
                <div class="grid">
                    <div class="grid__item mobile--top-titles">
                        {% include 'top-titles_mobile' %}
                    </div>
                    <div class="grid__item one-half image-half">
                        <img src="{{ product.featured_image.src | img_url: '155x602' }}" alt="{{ product.title | escape  }}" />
                    </div>
                    <div class="grid__item one-half description-half">
                        {% include 'top-titles' %}
                    <span class="small-bitch">bitch</span>
                        <h3>{{ product.title }}</h3>
                        <div class="product-description rte" itemprop="description">
                            {{ product.description }}
                        </div>
                        <div class="bottom-half">
                            <div class="further-description">
                                <div class="price-block"><span>{{ product.price | money_without_currency }}</span><span>RRP</span></div>
                                    <span class="wine-specifics">{{ product.metafields.theme.wine-year }}</span>&nbsp;<span class="wine-specifics">{{ product.metafields.theme.wine-region }}</span>&nbsp;<span class="wine-specifics">Alc: {{ product.metafields.theme.wine-alcohollevel }}</span>&nbsp;<span class="wine-specifics">Std Drinks: {{ product.metafields.theme.wine-std }}</span>
                            </div>
                            <div class="qty-block">
                                {% include 'product_qty' %}
                                <hr>
                            </div>
                        </div>
                        <div class="bottom-half--mobile">
                            <div class="further-description">
                                <div class="price-block"><span>{{ product.price | money_without_currency }}</span><span>RRP</span></div>
                                    <span class="wine-specifics">{{ product.metafields.theme.wine-year }}</span>&nbsp;<span class="wine-specifics">{{ product.metafields.theme.wine-region }}</span>&nbsp;<span class="wine-specifics">Alc: {{ product.metafields.theme.wine-alcohollevel }}</span>&nbsp;<span class="wine-specifics">Std Drinks: {{ product.metafields.theme.wine-std }}</span>
                            </div>
                            <div class="qty-block">
                                {% include 'product_qty' %}
                                <hr>
                            </div>
                        </div>                        
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>