      <div class="form-container">
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <p id="ComparePrice-{{ section.id }}" class="h3 price compare-price">
              {{ current_variant.compare_at_price | money }}
            </p>
          {% endif %}

          <select name="id" id="productSelect-{{ section.id }}" class="product-single__variants visually-hidden">
            {% for variant in product.variants %}
              {% if variant.available %}

                <option {% if variant == current_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <div id="quantity-selector-{{ section.id }}" class="form__column quantity-selector">
            <input type='button' value='-' class='qtyminus medium-up--one-quarter counter' field='quantity-{{product.id}}'/>
            <input type="text" id="Quantity-{{ section.id }}" name="quantity" data-field="quantity-{{product.id}}" value="1" min="1" class="quantity-input medium-up--one-third quantity-counter" pattern="[0-9]*" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <input type='button' value='+' class='qtyplus medium-up--one-quarter counter' field='quantity-{{product.id}}' />
          </div>

          <div class="form__column cart-btn ">
            <button type="submit" name="add" id="AddToCart-{{ section.id }}" class="btn btn--fill btn--regular btn--color">
              <span id="AddToCartText-{{ section.id }}">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </div>
        </form>
      </div>