<div class="top-titles">
    {% if product.title == 'Sauvignon Blanc' %}
        <ul>
            <li class="active"><a>SB</a></li>
            <li><a href="javascript:void(0);" class="top-title__chardonnay">C</a></li>
            <li><a href="javascript:void(0);" class="top-title__moscato">M</a></li>
            <li><a href="javascript:void(0);" class="top-title__bc">BC</a></li>
            <li><a href="javascript:void(0);" class="top-title__shiraz">S</a></li>
            <li><a href="javascript:void(0);" class="top-title__rose">R</a></li>
        </ul>
    {% elsif product.title == 'Chardonnay' %}
        <ul>
            <li><a href="javascript:void(0);" class="top-title__sb">SB</a></li>
            <li class="active"><a>C</a></li>
            <li><a href="javascript:void(0);" class="top-title__moscato">M</a></li>
            <li><a href="javascript:void(0);" class="top-title__bc">BC</a></li>
            <li><a href="javascript:void(0);" class="top-title__shiraz">S</a></li>
            <li><a href="javascript:void(0);" class="top-title__rose">R</a></li>
        </ul>
    {% elsif product.title == 'Moscato' %}
        <ul>
            <li><a href="javascript:void(0);" class="top-title__sb">SB</a></li>
            <li><a href="javascript:void(0);" class="top-title__chardonnay">C</a></li>
            <li class="active"><a>M</a></li>
            <li><a href="javascript:void(0);" class="top-title__bc">BC</a></li>
            <li><a href="javascript:void(0);" class="top-title__shiraz">S</a></li>
            <li><a href="javascript:void(0);" class="top-title__rose">R</a></li>
        </ul>
    {% elsif product.title == 'Brut Cuvée' %}
        <ul>
            <li><a href="javascript:void(0);" class="top-title__sb">SB</a></li>
            <li><a href="javascript:void(0);" class="top-title__chardonnay">C</a></li>
            <li><a href="javascript:void(0);" class="top-title__moscato">M</a></li>
            <li class="active"><a>BC</a></li>
            <li><a href="javascript:void(0);" class="top-title__shiraz">S</a></li>
            <li><a href="javascript:void(0);" class="top-title__rose">R</a></li>
        </ul>                     
    {% elsif product.title == 'Shiraz' %}
        <ul>
            <li><a href="javascript:void(0);" class="top-title__sb">SB</a></li>
            <li><a href="javascript:void(0);" class="top-title__chardonnay">C</a></li>
            <li><a href="javascript:void(0);" class="top-title__moscato">M</a></li>
            <li><a href="javascript:void(0);" class="top-title__bc">BC</a></li>
            <li class="active"><a>S</a></li>
            <li><a href="javascript:void(0);" class="top-title__rose">R</a></li>
        </ul>
    {% elsif product.title == 'Rosé' %}
        <ul>
            <li><a href="javascript:void(0);" class="top-title__sb">SB</a></li>
            <li><a href="javascript:void(0);" class="top-title__chardonnay">C</a></li>
            <li><a href="javascript:void(0);" class="top-title__moscato">M</a></li>
            <li><a href="javascript:void(0);" class="top-title__bc">BC</a></li>
            <li><a href="javascript:void(0);" class="top-title__shiraz">S</a></li>
            <li class="active"><a>R</a></li>
        </ul>        
    {% endif %}
</div>