<div id="home--contact-section" class="index-section home-section">
    <div class="wrapper wrapper--margins">
        <div class="contact-form">

            {% form 'contact' %}
            <div id="contact-header-id" class="contact-header text-center">
                <h3>KEEP IN TOUCH</h3>
                <h2 class="home-section-title">CONTACT US</h2>
            </div>

            {{ form.errors | default_errors }}

            <div class="form__row">

                <div class="form__column full">
                {% assign name_attr = 'contact.form.name' | t | handle %}
                {% comment %} <label for="ContactFormName">{{ 'contact.form.name' | t }}</label> {% endcomment %}
                <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" required placeholder="Your Name" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                </div>

                <div class="form__column full">
                {% comment %} <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label> {% endcomment %}
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" required placeholder="Email Address" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                </div>

            </div>

            <div class="form__row">
                <div class="form__column full">
                {% comment %} <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label> {% endcomment %}
                <textarea rows="10" id="ContactFormMessage" class="input-full" required placeholder="Type Message" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                </div>
            </div>

            {% comment %} <input type="submit" class="btn btn--regular btn--color btn--fill" value="{{ 'contact.form.send' | t }}"> {% endcomment %}
            <button type="submit" class="btn btn--regular btn--color btn--fill text-center" value="{{ 'contact.form.send' | t }}">
                <img class="mobile-hidden" src="{{ 'icon-envelope.jpg' | asset_url }}"><img class="desktop-hidden" src="{{ 'icon-envelope-large.jpg' | asset_url }}"><span>SUBMIT</span>
            </button>
            {% if form.posted_successfully? %}
                <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
                </p>
            {% endif %}            

            {% endform %}

        </div>
    </div> {%- comment -%}end of wrapper{%- endcomment -%}
</div>

{% schema %}
  {
  	"name": "Bitch Contact Section",
  	"presets": [
    	{
    		"name": "Bitch Contact Section",
    		"category": "Custom"
    	}
    ]
  }
{% endschema %}
