<div id="home--attitude-section" class="index-section home-section">
    <div class="wrapper wrapper--margins">
        <div class="intro-container">
            <h2 id="wine-with-attitude">Wine With Attitude</h2>
            <hr class="below-header">
            <div class="grid">
                <div class="grid__item p-container">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at urna volutpat, accumsan sem a, molestie ante. Ut vitae nibh est. Pellentesque elit ex, aliquet vitae molestie a, placerat ut nisi. Nullam libero metus, laoreet id scelerisque eu, maximus quis metus. Nunc consectetur consequat leo non fermentum. Sed sagittis quam et nulla scelerisque, sed faucibus odio sagittis. Integer quis arcu in ligula porttitor auctor. Nulla cursus auctor consequat.
                    <br />
                    <br />
                    Praesent et semper neque. Sed ac augue nulla. Curabitur placerat tempus enim, nec facilisis lacus interdum eu. Mauris in vehicula sapien. Vestibulum in diam eu ex vehicula eleifend. Pellentesque eleifend, sapien ut dignissim vestibulum, erat risus laoreet mauris, a venenatis quam diam vitae augue. Praesent eget ipsum arcu. Aliquam erat volutpat. In non scelerisque ipsum. Cras sed leo vitae odio feugiat mattis. 
                    </p>
                </div>
                <div class="grid__item p-container">
                    <p>Etiam et mauris est. Etiam rutrum condimentum lectus nec vehicula. Maecenas tortor elit, volutpat quis venenatis in, commodo in metus. Curabitur luctus neque at dui eleifend, non sagittis mauris iaculis. Aenean ultricies libero a eleifend egestas. Curabitur nec accumsan nisl, nec egestas justo. Vestibulum et ligula sed purus gravida cursus. Proin fermentum ex a eleifend maximus. Aenean diam nibh, iaculis a bibendum non, tempus in orci. Vivamus lectus tellus, tincidunt quis hendrerit sit amet, molestie dignissim libero. Phasellus in odio sed dui imperdiet efficitur. Fusce ut volutpat est. Mauris cursus, turpis interdum pulvinar posuere, lectus nibh molestie ante, a lacinia neque tortor at orci. Nunc ligula elit, sagittis et ullamcorper ut, finibus ac nibh. Morbi ac consectetur nulla. </p>
                </div>
            </div>
        </div>
        <img class="b-logo" src="{{ 'b-logo.png' | asset_url }}">
        <h2 id="bitch-range">Bitch Range</h2>
        <hr class="below-header2">
        {% include 'owl-slider' %}
    </div> {%- comment -%}end of wrapper{%- endcomment -%}
</div>

{% schema %}
  {
  	"name": "Bitch Attitude Section",
  	"presets": [
    	{
    		"name": "Bitch Attitude Section",
    		"category": "Custom"
    	}
    ]
  }
{% endschema %}
