<div id="home--big-section" class="index-section home-section">
    <div class="wrapper wrapper--margins">
        <div class="content push-up">
            <h2>
                be a bitch.<br/>
                own the night.
            </h2>
        </div>
        <a class="btn--small" href="#bitch-range">PURCHASE NOW</a>
    </div>
</div>

{% schema %}
  {
  	"name": "Bitch Big Section",
  	"presets": [
    	{
    		"name": "Bitch Big Section",
    		"category": "Custom"
    	}
    ]
  }
{% endschema %}
