{%- assign social_icons = false -%}

{% if
  settings.social_twitter != blank
  or settings.social_facebook != blank
  or settings.social_pinterest != blank
  or settings.social_instagram != blank
  or settings.social_snapchat != blank
  or settings.social_tumblr != blank
  or settings.social_youtube != blank
  or settings.social_vimeo != blank
  or settings.social_flickr != blank
  or settings.social_email != blank
  or settings.social_linkedin != blank
  or settings.social_google != blank
%}
  {%- assign social_icons = true -%}
{% endif %}
{% if social_icons %}
      <aside class="social-footer">
        <div class="wrapper display-table">
          <div class="display-table-cell">
            <ul class="inline-list social-icons">
              {% include 'footer_social-icons' %}
            </ul>
          </div>
        </div>
      </aside>
    {% endif %}

    <footer class="site-footer small--text-center" role="contentinfo">

      <div class="wrapper text-center">

        <div class="h1 footer__logo" itemscope itemtype="http://schema.org/Organization">
           <a href="/" itemprop="url" class="footer__logo-link">
              <img src="{{ 'bitch-logo_svg.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </noscript>
            </a>
        </div>

        {% comment %} {% if section.settings.footer_linklist %}
          <div class="link-list">
            {% for link in linklists[section.settings.footer_linklist].links %}
              <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </div>
          <hr>
        {% endif %} {% endcomment %}

        <div class="copy">
          <p class="footer-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
        </div>
        
        {% assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,klarna,litecoin,maestro,master,paypal,shopify_pay,visa' | split: ',' %}
        {% if section.settings.footer_payment_enable and shop.enabled_payment_types != empty %}
          <div class="pay-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                {% include 'asset_svg' with type %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

      </div>  {% comment %} end of wrapper {% endcomment %}
      <hr>
    </footer>

{% schema %}
  {
  	"name": "Footer",
  	"settings": [
  		{
  			"type": "image_picker",
  			"id": "footer_logo",
  			"label": "Logo image",
  			"info": "200px wide .png recommended"
  		},
  		{
  			"type": "text",
  			"id": "footer_logo_max_width",
  			"label": "Custom logo width (in pixels)",
  			"default": "50",
  			"info": "Do not add the 'px' unit"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_newsletter_enable",
  			"label": "Show newsletter",
  			"default": false
  		},
  		{
  			"type": "link_list",
  			"id": "footer_linklist",
  			"label": "Menu",
  			"default": "footer",
        "info": "This menu won't show dropdown items"
  		},
  		{
  			"type": "checkbox",
  			"id": "footer_payment_enable",
  			"label": "Show payment methods"
  		}
  	]
  }
{% endschema %}
