// variables //
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$viewportIncrement: 1px;
$xsmall: 320px;
$small: 480px;
$medium: 767px;
$large: 768px;
$wide: 1200px;


// Attitude section
#home--attitude-section {
	background: url({{ 'pattern-bg--whole.jpg' | asset_url }});
    background-repeat: repeat;
    background-size: 100%;

    .wrapper.wrapper--margins {
        //mq for wrapper

        @media screen and (min-width: 769px) {
            padding: 300px 0 150px;
        }

        @media screen and (min-width: 1231px) {
            margin: 0 auto;
        }

        @media screen and (min-width: 769px) and (max-width: 1230px) {
            margin: 0 30px;
        }

        @media screen and (min-width: 421px) and (max-width: $large) {
            margin: 0 40px;
        }

        @media screen and (min-width: $xsmall) and (max-width: $small) {
            padding: 130px 0 50px;
        }

        @media screen and (min-width: $xsmall) and (max-width: 420px) {
            margin: 0 30px!important;
        }

        .intro-container {
            margin-bottom: 40px;
            
            h2 {
                font-family: $montserrat;
                font-size: 3.857em;
                font-weight: 700;
                letter-spacing: -1px;
                text-align: center;
                text-transform: uppercase;
    
                @media screen and (min-width: 625px) and (max-width: $large) {
                    font-size: 3.214em;
                }
    
                @media screen and (min-width: 481px) and (max-width: 624px) {
                    font-size: 2.143em;
                    margin-bottom: 0.7em;
                }
    
                @media screen and (min-width: 375px) and (max-width: 480px) {
                    font-size: 2em;
                    margin-bottom: 0.7em;
                }

                @media screen and (min-width: $xsmall) and (max-width: 374px) {
                    font-size: 1.643em;
                }
            }
    
            hr {
                border: 1px solid #eea9db;
                margin: -21px auto 45px;
                width: 567px;

                @media screen and (min-width: $xsmall) and (max-width: $large) {
                    margin-top: -16px;
                    margin-bottom:  15px;
                    width: 77%;
                }
            }
    
            .grid {
                margin-left: 0;

                @media screen and (min-width: 769px) {
                    margin-left: -8%;
                }

                .grid__item.p-container {
                    float: left;
        
                    p {
                        color: #e1e1e1;
                        font-family: $roboto;
                        font-size: 1.071em;
                        font-weight: 300;
                        line-height: 32.2px;
                        margin-bottom: 0px;

                        @media screen and (min-width: $xsmall) and (max-width: $large) {
                            line-height: 26px;
                        }
                    }
        
                    // mq for p-container
                    @media screen and (min-width: 769px) {
                        width: 50%;
                    }
        
                    @media screen and (min-width: 320px) and (max-width: $large) {
                        padding-left: 0px;
                        width: 100%;
                    }
                }
            }
    
            //mq for intro-container
            @media screen and (max-width: $large) {
                margin-bottom: 20px;
            }
        }

        .b-logo {
            display: block;
            margin: 0 auto;

            @media screen and (min-width: 769px) {
                margin-bottom: 380px;
            }

            @media screen and (min-width: $xsmall) and (max-width: $large) {
                margin-bottom: 140px;
            }
        }

        h2 {
            font-family: $montserrat;
            font-size: 3.857em;
            font-weight: 700;
            letter-spacing: -1px;
            text-align: center;
            text-transform: uppercase;

            @media screen and (min-width: 625px) and (max-width: $large) {
                font-size: 3.214em;
            }

            @media screen and (min-width: 481px) and (max-width: 624px) {
                font-size: 2.143em;
                margin-bottom: 0.7em;
            }

            @media screen and (min-width: 375px) and (max-width: 480px) {
                font-size: 2em;
                margin-bottom: 0.7em;
            }

            @media screen and (min-width: $xsmall) and (max-width: 374px) {
                font-size: 1.643em;
            }
        }

        hr.below-header {
            border: 1px solid #eea9db;
            margin: -25px auto 45px;
            width: 315px;

            @media screen and (min-width: 625px) and (max-width: $large) {
                margin-top: -22px;
                margin-bottom:  30px;
                width: 281px;
            }

            @media screen and (min-width: 481px) and (max-width: 624px) {
                margin-top: -22px;
                margin-bottom:  30px;
                width: 319px;
            }

            @media screen and (min-width: $xsmall) and (max-width: $small) {
                margin-top: -15px;
                margin-bottom:  20px;
                width: 240px;
            }
        }

        hr.below-header2 {
            border: 1px solid #eea9db;
            margin: -25px auto 45px;
            width: 315px;

            @media screen and (min-width: 481px) and (max-width: $large) {
                width: 197px;
            }  

            @media screen and (min-width: $xsmall) and (max-width: $small) {
                margin-top: -15px;
                margin-bottom:  20px;
                width: 150px;
            }
        }
    
        /***** SLIDER *****/
        .owl-container {
            background: #fff;
            border: 1px solid #fb9ce1;
            color: #363636;
            padding: 42px;

            //mq for owl-container
            @media screen and (min-width: 769px) and (max-width: 991px) {
                padding: 35px;
            }

            @media screen and (min-width: 560px) and (max-width: $large) {
                padding: 32px 24px 15px;
            }

            @media screen and (min-width: $xsmall) and (max-width: 560px) {
                padding: 32px 15px 15px;
            }
    
            .grid {

                //mq for grid
                @media screen and (min-width: $xsmall) and (max-width: $large) {
                    margin-left: 0px;
                }
                
                .grid__item {
                    padding-left: 0px;
                    padding-right: 0px;

                    &.image-half {
                        @media screen and (min-width: 769px) and (max-width: 991px) {
                            width:  45%;
                        }

                        img {
                            max-width: 198px;
                            margin: 0 auto;

                            @media screen and (min-width: 1026px) {
                               max-width: 190px;
                               margin-top: 47px; 
                            }
    
                            @media screen and (min-width: 769px) and (max-width: 1025px) {
                                margin-top: 65px;
                                max-width: 152px;
                            }
    
                            @media screen and (min-width: 481px) and (max-width: $large) {
                                max-width: 90px;
                            }
    
                            @media screen and (min-width: $xsmall) and (max-width: $small) {
                                max-width: 75px;
                            }
                        }
                    }

                    &.description-half {
                        // @media screen and (min-width: 1026px) {
                        //     height: 790px;
                        // }

                        @media screen and (min-width: 1306px) {
                            height: 790px;
                        }

                        @media screen and (min-width: 1201px) and (max-width: 1305px) {
                            height: 821px;
                        }

                        @media screen and (min-width: 1151px) and (max-width: 1200px) {
                            height: 855px;
                        }

                        @media screen and (min-width: 1101px) and (max-width: 1150px) {
                            height: 955px;
                        }

                        @media screen and (min-width: 1037px) and (max-width: 1100px) {
                            height: 978px;
                        }

                        @media screen and (min-width: 1001px) and (max-width: 1036px) {
                            height: 975px;
                        }

                        @media screen and (min-width: 966px) and (max-width: 1000px) {
                            height: 903px;
                        }

                        @media screen and (min-width: 901px) and (max-width: 965px) {
                            height: 891px;
                        }

                        @media screen and (min-width: 856px) and (max-width: 900px) {
                            height: 920px;
                        }

                        @media screen and (min-width: 769px) and (max-width: 855px) {
                            height: 923px;
                        }

                        @media screen and (min-width: 769px) and (max-width: 991px) {
                            width:  55%;
                        }
                    }

                    //mq for grid item
                    @media screen and (min-width: $xsmall) and (max-width: $large) {
                        width: 100%;
                    }

                    &.mobile--top-titles {
                        @media screen and (min-width: 769px) {
                            display: none;
                        }

                        @media screen and (min-width: $xsmall) and (max-width: $large) {
                            display: block;
                        }

                        .top-titles {
                            z-index: 999999;
                            margin: 0 auto!important;
                            display: block!important;
                            max-width: 71%;

                            // @media screen and (min-width: 751px) and (max-width: 760px) {
                            //     max-width: 49%;
                            // }

                            @media screen and (min-width: 741px) and (max-width: 768px) {
                                max-width: 49%;
                            }

                            @media screen and (min-width: 731px) and (max-width: 740px) {
                                max-width: 50%;
                            }

                            @media screen and (min-width: 721px) and (max-width: 730px) {
                                max-width: 51%;
                            }

                            @media screen and (min-width: 711px) and (max-width: 720px) {
                                max-width: 52%;
                            }

                            @media screen and (min-width: 701px) and (max-width: 710px) {
                                max-width: 54%;
                            }

                            @media screen and (min-width: 691px) and (max-width: 700px) {
                                max-width: 57%;
                            }

                            @media screen and (min-width: 681px) and (max-width: 690px) {
                                max-width: 58%;
                            }

                            @media screen and (min-width: 671px) and (max-width: 680px) {
                                max-width: 59%;
                            }

                            @media screen and (min-width: 661px) and (max-width: 670px) {
                                max-width: 60%;
                            }

                            @media screen and (min-width: 651px) and (max-width: 660px) {
                                max-width: 61%;
                            }

                            @media screen and (min-width: 641px) and (max-width: 650px) {
                                max-width: 62%;
                            }

                            @media screen and (min-width: 631px) and (max-width: 640px) {
                                max-width: 63%;
                            }

                            @media screen and (min-width: 621px) and (max-width: 630px) {
                                max-width: 64%;
                            }

                            @media screen and (min-width: 611px) and (max-width: 620px) {
                                max-width: 65%;
                            }

                            @media screen and (min-width: 601px) and (max-width: 610px) {
                                max-width: 65%;
                            }

                            @media screen and (min-width: 591px) and (max-width: 600px) {
                                max-width: 66%;
                            }

                            @media screen and (min-width: 591px) and (max-width: 600px) {
                                max-width: 66%;
                            }

                            @media screen and (min-width: 581px) and (max-width: 590px) {
                                max-width: 67%;
                            }

                            @media screen and (min-width: 561px) and (max-width: 580px) {
                                max-width: 70%;
                            }

                            @media screen and (min-width: 536px) and (max-width: 560px) {
                                max-width: 71%;
                            }

                            @media screen and (min-width: 526px) and (max-width: 535px) {
                                max-width: 73%;
                            }

                            @media screen and (min-width: 516px) and (max-width: 525px) {
                                max-width: 75%;
                            }

                            @media screen and (min-width: 506px) and (max-width: 515px) {
                                max-width: 77%;
                            }

                            @media screen and (min-width: 496px) and (max-width: 505px) {
                                max-width: 79%;
                            }

                            @media screen and (min-width: 481px) and (max-width: 495px) {
                                max-width: 82%;
                            }

                            @media screen and (min-width: 481px) and (max-width: 480px) {
                                max-width: 60%;
                            }

                            @media screen and (min-width: 471px) and (max-width: 480px) {
                                max-width: 60%;
                            }

                            @media screen and (min-width: 461px) and (max-width: 470px) {
                                max-width: 62%;
                            }

                            @media screen and (min-width: 446px) and (max-width: 460px) {
                                max-width: 66%;
                            }

                            @media screen and (min-width: 436px) and (max-width: 445px) {
                                max-width: 68%;
                            }

                            @media screen and (min-width: 421px) and (max-width: 435px) {
                                max-width: 71%;
                            }

                            @media screen and (min-width: 411px) and (max-width: 420px) {
                                max-width: 68%;
                            }

                            @media screen and (min-width: 391px) and (max-width: 400px) {
                                max-width: 72%;
                            }

                            @media screen and (min-width: 381px) and (max-width: 390px) {
                                max-width: 76%;
                            }

                            @media screen and (min-width: 371px) and (max-width: 380px) {
                                max-width: 78%;
                            }

                            @media screen and (min-width: 361px) and (max-width: 370px) {
                                max-width: 81%;
                            }

                            @media screen and (min-width: 351px) and (max-width: 360px) {
                                max-width: 84%;
                            }

                            @media screen and (min-width: 341px) and (max-width: 350px) {
                                max-width: 87%;
                            }

                            @media screen and (min-width: $xsmall) and (max-width: 340px) {
                                max-width: 95%;
                            }

                            ul {
                                margin-left: 0px;
                                overflow: auto;

                                @media screen and (min-width: $xsmall) and (max-width: $large) {
                                    display: block;
                                    margin: 0 auto;
                                    margin-bottom: 25px;;
                                    width: 100%;

                                }
                                
                                li {
                                    border-left: 1px solid #fb9ce1;
                                    float: left;
                                    padding: 13px 0;
                                    text-align: center;
        
                                    &:last-of-type {
                                        border-right: 1px solid #fb9ce1;
                                    }
        
                                    &.active {
                                        background: #fb9ce1;
                                        border: 0px;
                                        
                                        @media screen and (min-width: 769px) {
                                            min-width: 185px;
                                        }
        
                                        a {
                                            color: #fff;
                                            text-transform: uppercase;
                                        }
                                    }

                                    //medq for li
                                    @media screen and (min-width: 481px) and (max-width: $large) {
                                        padding: 7px 0;
                                    }

                                    @media screen and (min-width: $xsmall) and (max-width: $small) {
                                        padding: 6px 0;
                                    }
        
                                    a {
                                        color: #363636;
                                        font-family: $montserrat;
                                        font-size: 1.071em;
                                        font-weight: 600;
        
                                        padding: 0 20px;
                                        text-align: center;

                                        &:hover {
                                            background: #fb9ce1;
                                            color: #fff;
                                        }

                                        @media screen and (min-width: 481px) and (max-width: $large) {
                                            padding: 0 17px;
                                        }

                                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                                            font-size: 0.929em;
                                            padding: 0 11px;
                                        }
                                    }
                                }
                            }
                        }
                    }
    
    
                    &.description-half {
                        //mq for description half
                        @media screen and (min-width: 481px) and (max-width: $large) {
                            padding-top: 45px;
                        }

                        .top-titles {
                            display: block;
                            z-index: 999999;

                            ul {
                                margin-left: 0px;
                                overflow: auto;
                                
                                li {
                                    border-left: 1px solid #fb9ce1;
                                    float: left;
                                    text-align: center;
        
                                    &:last-of-type {
                                        border-right: 1px solid #fb9ce1;
                                    }
        
                                    &.active {
                                        background: #fb9ce1;
                                        border: 0px;

                                        @media screen and (min-width: 1121px) and (max-width: 1500px) {
                                            min-width: 199px;
                                        }
                                        
                                        @media screen and (min-width: 992px) and (max-width: 1120px) {
                                            min-width: 160px;
                                        }

                                        @media screen and (min-width: 769px) and (max-width: 991px) {
                                            min-width: 158px;
                                        }
        
                                        a {
                                            color: #fff;
                                            text-transform: uppercase;
                                        }
                                    }
        
                                    a {
                                        color: #363636;
                                        display: block;
                                        font-family: $montserrat;
                                        font-size: 1.071em;
                                        font-weight: 600;
        
                                        padding: 13px 20px;
                                        text-align: center;

                                        &:hover {
                                            background: #fb9ce1;
                                            color: #fff;
                                        }

                                        @media screen and (min-width: 1501px) {
                                            padding: 13px 26px;
                                        }

                                        @media screen and (min-width: 1121px) and (max-width: 1500px) {
                                            padding: 13px 23px;
                                        }

                                        @media screen and (min-width: 992px) and (max-width: 1120px) {
                                            padding: 13px 18px;
                                        }

                                        @media screen and (min-width: 957px) and (max-width: 991px) {
                                            font-size: 1em;
                                            padding: 8px 22px;
                                        }

                                        @media screen and (min-width: 769px) and (max-width: 956px) {
                                            font-size: 1em;
                                            padding: 6px 13px;
                                        }
                                    }
                                }
                            }
    
                            //mq for top-titles
                            @media screen and (min-width: $xsmall) and (max-width:$large) {
                                display: none;
                            }
                        }
        
                        .small-bitch {
                            display: block;
                            font-family: $montserrat;
                            font-size: 1.071em;
                            font-weight: 600;
                            letter-spacing: 5.5px;
                            margin-top: 22px;
                            margin-bottom: 0px;
                            text-transform: uppercase;
    
                            @media screen and (min-width: $xsmall) and (max-width: $large) {
                                color: #262626;
                                margin-bottom: 5px;
                            }
    
                            @media screen and (min-width: 481px) and (max-width: $large) {
                                font-size: 1.429em;
                            }
                        }
        
                        h3 {
                            color: #262626;
                            font-family: $montserrat;
                            font-size: 3.214em;
                            font-weight: 800;
                            text-transform: uppercase;
    
                            @media screen and (min-width: 481px) and (max-width: $large) {
                                font-size: 3em;
                            }

                            @media screen and (min-width: 376px) and (max-width: $small) {
                                font-size: 2.429em;
                            }

                            @media screen and (min-width: $xsmall) and (max-width: 375px) {
                                font-size: 2.143em;
                            }
                        }
        
                        .product-description {
                            margin-top: 0px;
        
                            p {
                                font-family: $roboto;
                                font-weight: 400;
                                letter-spacing: 0.5px;
                                line-height: 27.2px;
                            }
                        }
        
                        .bottom-half {
                            bottom: 0;
                                right: 0;
                                position: absolute;

                            //medq for bottom half
                            @media screen and (min-width: 992px) {
                                left: 46%;
                            }
                            @media screen and (min-width: 769px) and (max-width: 991px) {
                                left: 40%;
                            }

                            @media screen and (min-width: $xsmall) and (max-width: $large) {
                                display: none;
                            }
        
                            .further-description {
                                margin-bottom: 22px;
            
                                .price-block {
                                    span {
                                        font-family: $montserrat;
            
                                        &:nth-of-type(1) {
                                            font-size: 3.857em;
                                            margin-left: 23px;
                                            &:before {
                                                content: '$';
                                                font-size: 32.5px;
                                                
                                                @media screen and (min-width: 769px) {
                                                    position: absolute;
                                                    left: 0;
                                                    top: 12px;
                                                }
                                                @media screen and (max-width: $large) {
                                                    font-size: 25px;
                                                    font-weight: 400;
                                                    margin-right: 2px;
                                                    position: relative;
                                                    top: -10px;
                                                }
                                            }

                                            @media screen and (max-width: $large) {
                                                font-size: 3.214em;
                                                margin-left: 0px;
                                            }
                                        }
            
                                        &:nth-of-type(2) {
                                            font-size: 24.17px;
                                        }
                                    }
                                }
            
                                .wine-specifics {
                                    font-family: $roboto;
                                    font-size: 1.214em;
                                    font-weight: 400;
            
                                    &:after {
                                        color: #fb9ce1;
                                        content: '|';
                                        margin-left: 6px;
                                    }
            
                                    &:nth-of-type(4) {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
            
                            .qty-block {
            
                                .form-container {
                                    margin-bottom: 18px;
                                    overflow: auto;
            
                                    .form__column.quantity-selector {
                                        float: left;
            
                                        input.qtyminus, input.qtyplus {
                                            background: #fb9ce1;
                                            border: none;
                                            border-radius: 0px;
                                            cursor: pointer;
                                            font-family: $montserrat;
                                            font-size: 31px;
                                            font-weight: 300;
                                            line-height: 0px;
                                            padding: 0px 20px 4px;
                                            vertical-align: top;

                                            &:hover {
                                                background: #f88ada !important;
                                                transition: linear 75ms;
                                            }
                                        }
            
                                        input.quantity-input {
                                           border: none;
                                           color: #7d7d7d;
                                           font-family: $montserrat;
                                           font-size: 1.786em;
                                           font-weight: 400;
                                           text-align: center;
                                           width: 77px;
                                           vertical-align: top;
                                        }

                                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                                            float: none;
                                            display: block;
                                            margin: 0 auto;
                                            text-align: center;
                                        }
                                    }
            
                                    .form__column.cart-btn {
                                        float: right;
            
                                        button.btn {
                                            background: #fb9ce1;
                                            border: none;
                                            border-radius: 0px;
                                            cursor: pointer;
                                            font-size: 1.071em;
                                            top: 0px;
                                            text-transform: uppercase;
                                            width: 210px;

                                            &:hover {
                                                background: #f88ada !important;
                                                transition: linear 75ms;
                                            }

                                            @media screen and (min-width: 1026px) and (max-width: 1200px) {
                                                width: 193px;
                                            }

                                            @media screen and (min-width: 769px) and (max-width: 991px) {
                                                width: 173px;
                                            }

                                            @media screen and (min-width: 678px) and (max-width: $large) {
                                                left: 55px;
                                            }

                                            @media screen and (min-width: 481px) and (max-width: $large) {
                                                width: 178px;
                                            }

                                            @media screen and (min-width: $xsmall) and (max-width: $small) {
                                                width: 193px;
                                            }
                                        }

                                        @media screen and (min-width: 678px) and (max-width: $large) {
                                            float: inherit;
                                        }

                                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                                            float: none;
                                            display: block;
                                            margin: 0 auto;
                                            margin-top: 8px;
                                            text-align: center;
                                        }
                                    }
                                }
            
                                hr {
                                    background: #eea9db;
                                    border: 0px;
                                    height: 2px;
                                }
                            }                    
                        }

                        .bottom-half--mobile {

                            //medq for bottom half--mobile
                            @media screen and (min-width: 769px) {
                                display:none;
                            }

                            @media screen and (min-width: $xsmall) and (max-width: $large) {
                                display: block;
                            }
        
                            .further-description {
                                margin-bottom: 22px;
            
                                .price-block {
                                    span {
                                        font-family: $montserrat;
            
                                        &:nth-of-type(1) {
                                            font-size: 3.857em;
                                            margin-left: 23px;
                                            &:before {
                                                content: '$';
                                                font-size: 32.5px;
                                                
                                                @media screen and (min-width: 769px) {
                                                    position: absolute;
                                                    left: 0;
                                                    top: 12px;
                                                }
                                                @media screen and (max-width: $large) {
                                                    font-size: 25px;
                                                    font-weight: 400;
                                                    margin-right: 2px;
                                                    position: relative;
                                                    top: -10px;
                                                }
                                            }

                                            @media screen and (max-width: $large) {
                                                font-size: 3.214em;
                                                margin-left: 0px;
                                            }
                                        }
            
                                        &:nth-of-type(2) {
                                            font-size: 24.17px;
                                        }
                                    }
                                }
            
                                .wine-specifics {
                                    font-family: $roboto;
                                    font-size: 1.214em;
                                    font-weight: 400;
            
                                    &:after {
                                        color: #fb9ce1;
                                        content: '|';
                                        margin-left: 6px;
                                    }
            
                                    &:nth-of-type(4) {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                            }
            
                            .qty-block {
            
                                .form-container {
                                    margin-bottom: 18px;
                                    overflow: auto;
            
                                    .form__column.quantity-selector {
                                        float: left;
            
                                        input.qtyminus, input.qtyplus {
                                            background: #fb9ce1;
                                            border: none;
                                            border-radius: 0px;
                                            cursor: pointer;
                                            font-family: $montserrat;
                                            font-size: 31px;
                                            font-weight: 300;
                                            line-height: 0px;
                                            padding: 0px 20px 4px;
                                            vertical-align: top;

                                            &:hover {
                                                background: #f88ada !important;
                                                transition: linear 75ms;
                                            }
                                        }
            
                                        input.quantity-input {
                                           border: none;
                                           color: #7d7d7d;
                                           font-family: $montserrat;
                                           font-size: 1.786em;
                                           font-weight: 400;
                                           text-align: center;
                                           width: 77px;
                                           vertical-align: top;
                                        }

                                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                                            float: none;
                                            display: block;
                                            margin: 0 auto;
                                            text-align: center;
                                        }
                                    }
            
                                    .form__column.cart-btn {
                                        float: right;
            
                                        button.btn {
                                            background: #fb9ce1;
                                            border: none;
                                            border-radius: 0px;
                                            cursor: pointer;
                                            font-size: 1.071em;
                                            top: 0px;
                                            text-transform: uppercase;
                                            width: 210px;

                                            &:hover {
                                                background: #f88ada !important;
                                                transition: linear 75ms;
                                            }

                                            @media screen and (min-width: 1026px) and (max-width: 1200px) {
                                                width: 193px;
                                            }

                                            @media screen and (min-width: 769px) and (max-width: 991px) {
                                                width: 173px;
                                            }

                                            @media screen and (min-width: 481px) and (max-width: $large) {
                                                width: 167px;
                                                float: right;
                                            }

                                            @media screen and (min-width: $xsmall) and (max-width: $small) {
                                                width: 193px;
                                            }
                                        }

                                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                                            float: none;
                                            display: block;
                                            margin: 0 auto;
                                            margin-top: 8px;
                                            text-align: center;
                                        }
                                    }
                                }
            
                                hr {
                                    background: #eea9db;
                                    border: 0px;
                                    height: 2px;
                                }
                            }                    
                        }
                    }
                }
            }
        }
    }
}



