// variables //
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$viewportIncrement: 1px;
$xsmall: 320px;
$small: 480px;
$medium: 767px;
$large: 768px;
$wide: 1200px;

#shopify-section-cart-template {
    background: url({{ 'big-section_bg.jpg' | asset_url }});
	background-size: cover;
    min-height: 90vh;
    
    @media screen and (max-width: 1200px) {
		background-position: 44%;
    }
    
    .wrapper.wrapper--margins {

        @media screen and (max-width: 1025px) {
            padding: 120px 0 150px; 
        }

        @media screen and (min-width: $xsmall) and (max-width: $small) {
            margin: 0 17px;
        }

        .text-center {
            font-family: $montserrat;
            padding-top: 140px;

            .cart__continue-btn {
                border: 1px solid #fff;
                color: #fff;
                text-transform: uppercase;

                &:hover {
                    background: #fb9ce1;
                    color: #252525;
                }
            }
        }

        #cart-form {
            .cart-row {
                padding: 9px 0;

                .cart-img {
                    background: transparent;
                    width: auto;
                    height: 130px;
                }
                .content {
                    left: 100px;

                    .small-bitch {
                        font-size: 0.929em;
                        font-weight: 700;
                        letter-spacing: 2px;
                    }
    
                    .cart-item__title, .cart-item__line-price {
                        font-family: $montserrat;
                    }

                    .cart-item__title {
                        @media screen and (min-width: 769px) {
                            font-size: 2em;
                        }
                    }
                    .cart-item__line-price {
                        color: #ed94d5;
                    }
                }

                // for quantity selector
                .selector-cart {
                    font-family: Work Sans,Arial,sans-serif;
                    position: absolute;
                    top: 51%;
                    margin-top: -24px;
                    right: 40px;
                    height: 50px;
                    padding: 0 5px;
                    text-align: center;

                    @media screen and (min-width: 481px) and (max-width: 520px) {
                        right: 26px;

                        .counter, .quantity-counter {
                            height: 40px;
                            padding: 0px 14px;
                        }
                    }

                    @media screen and (min-width: $xsmall) and (max-width: $small) {
                        margin-top: -18px;
                        padding: 0px;
                        top: 57%;
                        right: 23px;

                        .counter, .quantity-counter {
                            font-size: 1em;
                            height: 29px;
                            padding: 0px 12px;
                        }

                        .quality-counter {
                            width: 42px;
                        }
                    }

                    .counter {
                        &:hover {
                            background: #f88ada!important;
                            border: 1px solid #f55acb!important;
                            cursor: pointer;
                            transition: ease-in 75ms;
                        }
                    }

                    .quantity-counter {
                        text-align: center;
                        width: 88px;

                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                            width: 44px;
                        }
                        
                    }
                }

                a.remove {
                    @media screen and (min-width: 481px) and (max-width: 520px) {
                        margin-top: -22px;
                        right: -20px;
                    }

                    @media screen and (min-width: $xsmall) and (max-width: $small) {
                        margin-top: -21px;
                        right: -8px;
                        width: 45px;
                        height: 45px;
                    }

                    @media screen and (min-width: $xsmall) and (max-width: $small) {

                        svg {
                            fill: #dab5d4;
                            width: 45px;
                            height: 45px;
                        }
                    }
                }
            }

            .cart_bottom {
                margin-top: 20px;

                .cart__subtotal-holder {
                    font-family: $montserrat;

                    .cart__subtotal-title {
                        font-size: 1.286em;
                    }

                    .cart__subtotal {
                        font-size: 1.286em;
                    }
                }

                .btn__update, .btn--fill {
                    background: transparent!important;
                    border: 2px solid #fff!important;
                    color: #fff!important;
                    text-transform: uppercase;

                    &:hover {
                        background: #f88ada!important;
                        border: 2px solid #f55acb!important;
                        transition: ease-in 75ms;
                    }

                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}




