// variables //
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$xsmall: 320px;
$small: 480px;
$medium: 767px;
$large: 768px;
$wide: 1200px;

// Contact

#home--contact-section {
    background: url({{ 'contact-bg.jpg' | asset_url }});
    background-size: cover;

    .wrapper.wrapper--margins {
        margin: 0 auto;
        max-width: 630px;
        padding: 0px 30px 150px;

        .contact-form {
            .contact-header {
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 4px;

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                        font-size: 1.424em;
                    }
                }

                .home-section-title {
                    color: #f8e2e2;
                    font-size: 2.857em;
                    font-weight: 700;
        
                    &:after {
                        background: #eea9db;
                        height: 2px;
                        margin-bottom: 40px;
                        margin-top: 10px;
                        width: 80%;

                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            width: 90%;
                        }

                        @media screen and (min-width: $xsmall) and (max-width: $small) {
                            margin-bottom: 30px;
                        }
                    }

                    @media screen and (min-width: 769px) {
                        margin-bottom: 40px;
                    }

                    @media screen and (min-width: $xsmall) and (max-width: $large) {
                        margin-bottom: 30px;
                    }
                }
            }

            .form__row {
                .form__column {
                    input, textarea {
                        background: #fff;
                        border: 0px;
                        border-radius: 0px;
                        color: #464646;
                        font-weight: 400;


                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: #464646;
                        font-family: $roboto;
                        font-size: 1em;
                        font-style: italic;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                        color: #464646;
                        font-family: $roboto;
                        font-size: 1em;
                        font-style: italic;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                        color: #464646;
                        font-family: $roboto;
                        font-size: 1em;
                        font-style: italic;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                        color: #464646;
                        font-family: $roboto;
                        font-size: 1em;
                        font-style: italic;
                        }

                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            font-size: 1.286em;
                        }
                    }

                    //medq for form-column

                    @media screen and (min-width: 769px) {
                        padding: 0 15px 15px;
                    }

                    @media screen and (min-width: 320px) and (max-width: 768px) {
                        padding: 0 15px 22px;
                    }
                }

                //for textarea
                &:nth-of-type(3) {
                    margin-top: 0px;

                    .form__column {
                        @media screen and (min-width: 320px) and (max-width: 768px) {
                            padding: 0 15px 10px;
                        }
                    }
                }
            }

            button {
                background: #fb9ce1;
                color: #fff;
                display: block;
                margin: 0 auto;
                padding: 0px;
                width: 177px;
                height: 48px;

                img {
                    display: inline-block;
                    margin-right: 9px;
                    margin-top: -5.5px;
                    vertical-align: middle;

                    &.mobile-hidden {
                        @media screen and (max-width: 768px) {
                            display: none;
                        }
                    }

                    &.desktop-hidden {
                        @media screen and (min-width: 769px) {
                            display: none;
                        }
                    }
                }

                span {
                    display: inline-block;
                    font-size: 1.214em;
                    font-weight: 600;

                    // @media screen and (min-width: 375px) and (max-width: 768px) {
                    //     font-size: 24px;
                    // }
                }

                &:hover {
                    background: #f88ada;
                    transition: ease-in 200ms;
                }

                // mq for button 
                // @media screen and (min-width: 375px) and (max-width: 768px) {
                //     height: 70px;
                //     width: 280px;
                // }
            }

            .note.form-success {
                margin-top: 30px;
                margin-bottom: 0px;
                text-align: center;
                top: 0px;

                @media screen and (min-width: 769px) {
                    padding: 11px 95px 10px;
                }

                @media screen and (min-width: 481px) and (max-width: $large) {
                    margin-top: 25px;
                    padding: 20px 15px;
                }

                @media screen and (min-width: $xsmall) and (max-width: $large) {
                    margin-top: 25px;
                    padding: 17px 10px;
                }
            }
        }

        //mq for wrapper

        @media screen and (min-width: 769px) {
            padding: 200px 30px 180px;
        }

        @media screen and (min-width: 481px) and (max-width: $large) {
            padding: 150px 30px;
        }

        @media screen and (min-width: $xsmall) and (max-width: $small) {
            padding: 200px 30px 180px;
        }

        @media screen and (min-width: 320px) and (max-width: 768px) {
            max-width: 560px;
        }
    }

    //mq for home contact section
    @media screen and (min-width: 320px) and (max-width: 768px) {
     background-position: 54%;
    }
}

// Challenge
#challenge {
    background: url({{ 'big-section_bg.jpg' | asset_url }});
    background-size: cover;

    @media screen and (max-width: 1200px) {
		background-position: 44%;
	}
    
    .shopify-challenge__container {
        @media screen and (min-width: 769px) {
            margin: 150px auto 380px;
        }

        p {
            font-family: $roboto;
        }

        .g-recaptcha {
            margin: 1rem 0 2.5rem;
        }

        .shopify-challenge__button {
            text-transform: uppercase;

            &:hover {
                background: #fb9ce1;
                color: #252525;
            }
        }
    }
}

