// variables //
$montserrat: 'Montserrat', sans-serif;
$xsmall: 320px;
$small: 480px;
$medium: 767px;
$large: 768px;
$wide: 1200px;


// Big section

#home--big-section {
	background: url({{ 'big-section_bg.jpg' | asset_url }});
	background-size: cover;
	min-height: 100vh;

	.wrapper.wrapper--margins {
		padding: 350px 0 320px;

		.content {
			h2 {
				font-size: 5em;
				font-weight: 700;
				letter-spacing: 2px;
				line-height: 84px;
				margin-top: -80px;
				text-align: center;
				text-transform: uppercase;

				@media screen and (min-width: 685px) and (max-width: 768px) {
					padding: 0 20px;
				}

				@media screen and (min-width: 481px) and (max-width: 684px) {
					font-size: 4.643em;
					line-height: 74px;
				}

				@media screen and (min-width: 550px) and (max-width: 619px) {
					padding: 0 35px;
				}

				@media screen and (min-width: 426px) and (max-width: 480px) {
					padding: 0 30px;
				}

				@media screen and (min-width: 376px) and (max-width: 480px) {
					font-size: 4.143em;
				    line-height: 70px;
				}

				@media screen and (min-width: 320px) and (max-width: 375px) {
					font-size: 3.429em;
				    line-height: 58px;
				    padding: 0 8px;
				}
			
			}
		}

		.btn--small {
			background: #fb9ce1;
			border-radius: 3px;
			color: #252525;
			display: block;
			font-family: $montserrat;
			font-size: 1.071em;
			font-weight: 800;
			margin: 0 auto;
			padding: 17px 0px;
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
			width: 177px;
			text-align: center;

			&:hover {
				background: #f88ada;
				transition: ease-in 200ms;
			}

			@media screen and (min-width: 481px) and (max-width: 768px) {
				bottom: 0;
				font-size: 1.286em;
				padding: 14px 0;
				position: relative;
				width: 222px;
			}

			@media screen and (min-width: 685px) and (max-width: 768px) {
				margin: 80px auto 108px;
			}

			@media screen and (min-width: 481px) and (max-width: 684px) {
				margin: 157px auto 94px;
			}

			@media screen and (min-width: 376px) and (max-width: $small) {
				bottom: 102px;
				border-radius: 2px;
				font-size: 1.071em;
				padding: 14px 0px;
				width: 214px;
			}

			@media screen and (min-width: $xsmall) and (max-width: 375px) {
				bottom: 93px;
				font-size: 0.929em;
				padding: 12px 0;
				width: 174px;
			}

		}

		// mq for wrapper

		@media screen and (min-width: 769px) and (max-width: 1025px) {
			margin: 0 40px;
		}

		@media screen and (min-width: 481px) and (max-width: 768px) {
			max-width: 710px;
		}

		@media screen and (min-width: 620px) and (max-width: 768px) {
			padding: 0 75px;
		}

		@media screen and (min-width: 481px) and (max-width: 619px) {
			padding: 0px;
		}

		@media screen and (min-width: 376px) and (max-width: 480px) {
			margin: 0 20px;
			padding: 160px 0 220px;
		}

		@media screen and (min-width: $xsmall) and (max-width: 375px) {
			padding: 150px 0 200px;
		}
	}
	// mq for home big section

	@media screen and (max-width: 1200px) {
		background-position: 44%;
	}

	@media screen and (min-width: 481px) and (max-width: 768px) {
		padding: 320px 0 0 0;
	}

	@media screen and (min-width: $xsmall) and (max-width: $small) {
		padding: 74px 0 0 0;
	}
}

// Footer //

.site-footer {
	padding: 40px 0 15px;

	.footer__logo {
		margin: 0 auto;
		max-width: 242px;

		img {
			max-width: 65%;
		}

		@media screen and (min-width: 320px) and (max-width: 480px) {
			max-width: 186px;
		}
	}

	.copy {
		margin: 5px 0 27px;

		.footer-text {
			color: #878787;
			display: block;
			font-size: 1.214em;
			font-weight: 400;
			line-height: 27.2px;
			margin: 0 auto;
			max-width: 715px;

			@media screen and (min-width: 718px) and (max-width: 768px) {
				padding: 0 57px;
			}

			@media screen and (min-width: 664px) and (max-width: 717px) {
				padding: 0 30px;
			}

			@media screen and (min-width: 608px) and (max-width: 663px) {
				padding: 0 2px;
			}

			@media screen and (min-width: 320px) and (max-width: 607px) {
				font-size: 1em;
				line-height: 24px;
				padding: 0px;
			}
		}
	}

	hr {
		background-color: #333; /* Modern Browsers */
		border: none;
		color: #333; /* old IE */
		display: block;
		height: 1px; /* Set the hr color */
		margin: -15px auto 8px;
		max-width: 95%;
		
		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

}



