// variables //
$montserrat: 'Montserrat', sans-serif;
$xsmall: 320px;
$small: 480px;
$medium: 767px;
$large: 768px;
$wide: 1200px;

.site-header {
	padding: 12px 0;
	.site-header__logo, .site-header__logo--mobile {
		outline: none;
	}
	
	// Header Right Navigation
	nav.nav-bar {
		ul.site-nav {
			li {
				a.site-nav__link {
					color: #fff;
					font-size: 1em;
					font-weight: 500;
					padding: 5px 0;

					&.site-nav--active {
						color: #fff!important;
						&:hover {
							border-bottom: 0px!important;
						}

						&:after {
							background: #fb9ce1;
						}
					}

					&:hover, &:active {
						content: "";
						border-bottom: 2px solid #fb9ce1;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	//animate
	&.animate {
		transition: transform 160ms linear;
	}

	//site header sticky
	&.sticky {
		background: #000;
		border-bottom: 0px;

		.site-header__logo, .site-header__logo--mobile {
			outline: none;
		}

		.site-header__logo--mobile {
			img {
				max-width: 100px;
			}
		}
		
		nav.nav-bar {
			ul.site-nav {
				li {
					a.site-nav__link {
						color: #fff!important;
						font-size: 1em;
						font-weight: 500;
						padding: 5px 0;
						
		
						&.site-nav--active {
							&:after {
								background: #fb9ce1;
							}
						}
		
						&:hover, &:active {
							content: "";
							color: #fff!important;
							border-bottom: 2px solid #fb9ce1;
						}

						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}

	// Sticky Nav Mobile
	&.mobile {
		&.site-header--drawer {
			background: transparent;

			&.withbg {
				background: #000;
				transition: all 200ms;
			}

			.site-header__logo, .site-header__logo--mobile {
				outline: none;
			}
		
			.site-header__logo {
				@media screen and (max-width: $large) {
					display: none;
				}
			}
			.site-header__logo--mobile {
				@media screen and (min-width: 769px) {
					display: none;
				}
				@media screen and (max-width: $large) {
					display: block;
					img {
						display: block;
						margin: 0 auto;
					}
				}
			}
		
			.nav-bar {
				&.opened {
					left: 0;
					width: 100vw;
					height: 100vh!important;
				}

				.site-nav {
					text-align: center;

					li {
						padding: 12px 0!important;

						a {
							font-size: 1.786em!important;
							font-weight: 600!important;

							&.site-nav--active {
								border-bottom: 2px solid #fb9ce1;

								&:after {
									display: none!important;
								}
							}

							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		
			.lines-button {
				background: transparent;
				left: 0;
		
				.lines {
					border-radius: 7px;
					height: 3px;
		
					&:before, &:after {
						border-radius: 7px;
						height: 3px;
					}
					&:before {
						top: 12px;
					}
		
					&:after {
						top: -12px;
					}
				}
				// for button close
				&.lines-button--close {
					padding: 14px;
					
					.lines {
						&:before, &:after {
							position: relative;
						}
		
						&:after {
							top: -10px;
						}
					}
				}
			}
		}
	}

	// for cart logo
	a.mobile-cart--logo {
		img {
			@media screen and (min-width: 320px) and (max-width: $large) {
				display: block;
				width: 32px;
				height: 26px;
				position: absolute;
				right: -20px;
				top: 13px;
			}
			@media screen and (min-width: 769px) {
				display: none!important;
			}
		}
	}
}

// Owl Slider's nav
.owl-carousel {
	.owl-nav {
		position: absolute;
		width: 40%;
		top: 50%;

			//mq for owl-nav
			@media screen and (min-width: 1151px) and (max-width: 1200px) {
				top: 45%;
				left: -10px;
				width: 42%;
			}

			@media screen and (min-width: 1111px) and (max-width: 1150px) {
				top: 41%;
				left: -16px;
				width: 44%;
			}

			@media screen and (min-width: 992px) and (max-width: 1110px) {
				top: 36%;
				left: -10px;
				width: 42.5%;
			}

			@media screen and (min-width: 861px) and (max-width: 991px) {
				width: 41%;
				top: 37%;
				left: -22px;
			}

			@media screen and (min-width: 825px) and (max-width: 860px) {
				width: 44%;
				top: 37%;
				left: -28px;
			}

			@media screen and (min-width: 785px) and (max-width: 824px) {
				width: 43%;
				top: 37%;
				left: -24px;
			}

			@media screen and (min-width: 769px) and (max-width: 784px) {
				width: 44%;
				top: 37%;
				left: -24px;
			}

			@media screen and (min-width: 576px) and (max-width: $large) {
				left: 12%;
				top: 11%;
				width: 75%;
			}

			@media screen and (min-width: 481px) and (max-width: 575px) {
				left: 4%;
				width: 90%;
				top: 10%;
			}

			@media screen and (min-width: 320px) and (max-width: $small) {
				left: 5%;
				width: 89%;
				top: 8%;
			}

		.owl-prev {
			background-color: transparent!important;
			background-image: url({{ 'chevron-left.svg' | asset_url }})!important;
			float: left;
			width: 44px;
			height: 85px;

			@media screen and (min-width: 769px) and (max-width: 991px) {
				width: 28px;
    			height: 54px;
			}

			@media screen and (min-width: 376px) and (max-width: $small) {
				max-width: 40px;
				height: 77px;
			}
			@media screen and (max-width: 375px) {
				max-width: 35px;
				height: 68px;
			}
		}

		.owl-next {
			background-color: transparent!important;
			background-image: url({{ 'chevron-right.svg' | asset_url }})!important;
			float: right;
			width: 44px;
			height: 85px;

			@media screen and (min-width: 769px) {
				margin-right: 23px!important;
			}

			@media screen and (min-width: 769px) and (max-width: 991px) {
				width: 28px;
    			height: 54px;
			}

			@media screen and (min-width: 376px) and (max-width: $small) {
				max-width: 40px;
				height: 77px;
			}
			@media screen and (max-width: 375px) {
				max-width: 35px;
				height: 68px;
			}
		}
	}
}

.highlight {
	border-bottom: 2px solid #fb9ce1;
}

//cart page

.template-cart {
	.site-header.sticky {
		background: transparent;
	}
}